{{- if ne .Values.pg.diskSize 0 -}}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ include "adhoc-pg.fullname" . }}-sc
  labels:
    {{- include "adhoc-pg.labels" . | nindent 4 }}
provisioner: pd.csi.storage.gke.io
parameters:
  # pd-ssd, pd-standard or pd-balanced
  type: pd-ssd
#  replication-type: regional-pd
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer
# allowedTopologies:
# - matchLabelExpressions:
#   - key: topology.gke.io/zone
#     values:
#     - southamerica-east1-a
#     - southamerica-east1-b

# https://v1-18.docs.kubernetes.io/docs/concepts/storage/storage-classes/#gce-pd
{{- end }}
