extends: default

ignore: |
  charts/**/templates/**
  charts/**/charts/**
  dest/**
  tmp/**

rules:
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no', 'True', 'False', 'On', 'Off', 'Yes', 'No']
  comments: disable
  comments-indentation: disable
  empty-lines: disable
  indentation: disable
  line-length: disable
