apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app-instance.fullname" . }}
  labels:
    {{- include "app-instance.labels" . | nindent 4 }}
type: Opaque
stringData:
    # See Weblate documentation for detailed description:
    # https://docs.weblate.org/en/latest/admin/deployments.html#docker
    # limit concurrency
    WEB_WORKERS: "4"
    CELERY_MAIN_OPTIONS: "--concurrency 2"
    CELERY_NOTIFY_OPTIONS: "--concurrency 1"
    CELERY_TRANSLATE_OPTIONS: "--concurrency 1"

    # Required when behind a reverse proxy (k8s ingress)
    WEBLATE_IP_BEHIND_REVERSE_PROXY: "True"
    WEBLATE_IP_PROXY_HEADER: "HTTP_X_FORWARDED_FOR"
    # Rate Limiting
    WEBLATE_RATELIMIT_WINDOW: "300" # (in seconds, default 300) How long authentication is accepted after rate limiting applies.
    WEBLATE_RATELIMIT_LOCKOUT: "600" # (in seconds, default 600) How long authentication is locked after rate limiting applies.
    WEBLATE_AUTH_LOCK_ATTEMPTS: "10" # (default 10) How many failed login attempts are allowed before locking the account. (Sign in or Password reset.)
    WEBLATE_RATELIMIT_ATTEMPTS: "5" # (default 5) Maximum number of authentication attempts before rate limiting is applied.

    WEBLATE_DEBUG: "0"
    WEBLATE_LOGLEVEL: "DEBUG"
    WEBLATE_SITE_TITLE: "Adhoc Weblate"
    WEBLATE_ADMIN_NAME: "{{ .Values.weblate.adminName }}"
    WEBLATE_ADMIN_EMAIL: "{{ .Values.weblate.adminEmail }}"
    WEBLATE_ADMIN_PASSWORD: "{{ .Values.weblate.adminPassword }}"
    WEBLATE_SERVER_EMAIL: "noreply@{{ .Values.ingress.host }}"
    WEBLATE_DEFAULT_FROM_EMAIL: "noreply@{{ .Values.ingress.host }}"
    WEBLATE_ALLOWED_HOSTS: {{ .Values.ingress.host | quote }}
    WEBLATE_CORS_ALLOWED_ORIGINS: "https://{{ .Values.ingress.host }}"

    WEBLATE_SITE_DOMAIN: {{ .Values.ingress.host | quote }}
    WEBLATE_REGISTRATION_OPEN: "1"
    WEBLATE_SIMPLIFY_LANGUAGES: "0"
    WEBLATE_AUTO_UPDATE: "1"
    WEBLATE_DEFAULT_SHARED_TM: "1"

    # Extra (comentadas)
    # WEBLATE_TIME_ZONE: ""
    # WEBLATE_MT_GOOGLE_KEY: ""

    # see https://github.com/organizations/OCA/settings/applications
    WEBLATE_SOCIAL_AUTH_GITHUB_KEY: ""
    WEBLATE_SOCIAL_AUTH_GITHUB_SECRET: ""

    #WEBLATE_SOCIAL_AUTH_BITBUCKET_KEY: ""
    #WEBLATE_SOCIAL_AUTH_BITBUCKET_SECRET: ""
    #WEBLATE_SOCIAL_AUTH_FACEBOOK_KEY: ""
    #WEBLATE_SOCIAL_AUTH_FACEBOOK_SECRET: ""
    #WEBLATE_SOCIAL_AUTH_GOOGLE_OAUTH2_KEY: ""
    #WEBLATE_SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET: ""

    #WEBLATE_OFFLOAD_INDEXING: "1"
    #WEBLATE_GOOGLE_ANALYTICS_ID: ""
    WEBLATE_REQUIRE_LOGIN: "1"
    WEBLATE_ENABLE_HTTPS: "1"
    WEBLATE_SECURE_PROXY_SSL_HEADER: "HTTP_X_FORWARDED_PROTO,https"

    # PostgreSQL setup
    POSTGRES_PASSWORD: "{{ .Values.cloudNativePG.superUserPassword }}"
    POSTGRES_USER: "weblate"
    POSTGRES_DB: "app"
    POSTGRES_HOST: "{{ include "app-instance.fullname" . }}-pg-rw"
    POSTGRES_PORT: "5432"

    # Cache setup
    # https://docs.weblate.org/en/latest/admin/install.html#production-cache
    REDIS_HOST: "{{ include "app-instance.fullname" . }}-valkey"

    # Mail server, the server has to listen on port 587 and understand TLS
    WEBLATE_EMAIL_HOST: "{{ .Values.weblate.smtp_host }}"
    # Do NOT use quotes here
    WEBLATE_EMAIL_HOST_USER: {{ .Values.weblate.smtp_user }}
    # Do NOT use quotes here
    WEBLATE_EMAIL_HOST_PASSWORD: {{ .Values.weblate.smtp_password }}

    # Content Security Policy - Allow Cloudflare Insights
    # https://docs.weblate.org/en/latest/admin/install.html#csp
    WEBLATE_CSP_SCRIPT_SRC: "'self' https://static.cloudflareinsights.com"
    WEBLATE_CSP_CONNECT_SRC: "'self' https://cloudflareinsights.com"

    # SENTRY
    SENTRY_DSN: ""
    SENTRY_PUBLIC_DSN: ""

    RUNBOT_URL: "{{ .Values.runbot.url }}"
    RUNBOT_TOKEN: "{{ .Values.runbot.token }}"
