{{- if .Values.maintenance.readonly | default false }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "registry-cache.fullname" . }}-maintenance
spec:
  template:
    spec:
      restartPolicy: OnFailure
      priorityClassName: registry-cache-priority
      nodeSelector: {{- toYaml .Values.nodeSelector | nindent 12 }}
      tolerations: {{- toYaml .Values.tolerations | nindent 12 }}
      affinity: {{- toYaml .Values.affinity | nindent 12 }}
      resources:
        limits:
          cpu: 500m
          memory: 1Gi
        requests:
          cpu: 250m
          memory: 512Mi
      containers:
      - name: registry-maintenance
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: [ "garbage-collect", "/etc/distribution/config.yml" ]
        volumeMounts:
        - name: config
          mountPath: /etc/distribution
        {{- if .Values.storage.filesystem.enabled }}
        - name: data
          mountPath: /var/lib/registry
        {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "registry-cache.fullname" . }}-config
            items:
              - key: config.yml
                path: config.yml
        {{- if .Values.storage.filesystem.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "registry-cache.fullname" . }}-data
        {{- end }}
{{- end }}
