apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "registry-cache.fullname" . }}
spec:
  replicas: {{ ternary 0 1 .Values.maintenance.readonly }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "registry-cache.name" . }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "registry-cache.name" . }}
    spec:
      priorityClassName: registry-cache-priority
      nodeSelector: {{- toYaml .Values.nodeSelector | nindent 8 }}
      tolerations: {{- toYaml .Values.tolerations | nindent 8 }}
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxSurge: 0
          maxUnavailable: 100%
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: cloud.google.com/gke-spot
                    operator: NotIn
                    values:
                      - "true"
        {{- if .Values.affinity }}
        {{- toYaml .Values.affinity | nindent 8 }}
        {{- end }}
      containers:
        - name: registry
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 512Mi
          ports:
            - containerPort: 5000
          env:
            - name: OTEL_TRACES_EXPORTER
              value: "none"
            - name: OTEL_METRICS_EXPORTER
              value: "none"
            - name: OTEL_LOGS_EXPORTER
              value: "none"
            {{- if .Values.proxy.auth.enabled }}
            - name: REGISTRY_PROXY_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "registry-cache.fullname" . }}-dockerhub-auth
                  key: REGISTRY_PROXY_USERNAME
            - name: REGISTRY_PROXY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "registry-cache.fullname" . }}-dockerhub-auth
                  key: REGISTRY_PROXY_PASSWORD
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /etc/distribution
            {{- if .Values.storage.filesystem.enabled }}
            - name: data
              mountPath: /var/lib/registry
            {{- end }}
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
          resources: {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "registry-cache.fullname" . }}-config
            items:
              - key: config.yml
                path: config.yml
        {{- if .Values.storage.filesystem.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "registry-cache.fullname" . }}-data
        {{- end }}
