apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "app-instance.fullname" . }}-data
  labels:
    {{- include "app-instance.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.size | default "10Gi" }}
  {{- if .Values.storage.storageClassName }}
  storageClassName: {{ .Values.storage.storageClassName | quote }}
  {{- end }}
