# This role grants permissions for managing deployments, viewing pod logs, executing commands in pods,
# and viewing events and services in the namespace. It is intended for development environment access.
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: admin-role
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]
---
{{- if .Values.k8sAdmin.users }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: dev-ar-rolebinding
subjects:
{{- range .Values.k8sAdmin.users }}
  - kind: User
    name: {{ . }}
    apiGroup: rbac.authorization.k8s.io
{{- end }}
roleRef:
  kind: Role
  name: admin-role
  apiGroup: rbac.authorization.k8s.io
{{- end }}